header {
display: flex;    
justify-content: space-between;
align-items: center;
}


nav {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    list-style: none;
    font-family: helvetica;
}
nav a {
    text-decoration: none;
    color: black;
}
nav li {
    margin-right: 40px;
}
div>a {
    border: solid black;
    margin: 10px;
    padding: 10px 30px;
    text-decoration: none;
}
.account a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
}

.cloudbased {
    align-items: center;
    display: flex;
}

.cloudbased a {
    color: black;

}
#cloudbasedid {
    background-color: black;
    color: white;
    margin: auto 0px auto auto;

}
#onprem {
    margin: auto auto auto 0px;
    padding: auto auto auto 0px;
    border-style:solid;
}

a {
    text-decoration: none;
    color: white;
}

.bottom-part {
    background-color: black;
    color: white;
}

.scraping, .documentation, .about-us, footer {
list-style-type: none;
display: flex;
color: white;
}

.scraping {
    float: left;
}
.documentation {
    float: center;
}

.about-us {
    float: right;
}
